@font-face{
	font-family:VWHead-Regular;
	src:url(fonts/VWHead-Regular.otf)
}
@font-face{
	font-family:VWHead-Bold;
	src:url(fonts/VWHead-Bold.otf)
}
@font-face{
	font-family:VWHead-Light;
	src:url(fonts/VWHead-Light.otf)
}